.NavbarItems {
  /* background: linear-gradient(
    90deg,
    rgb(110, 94, 254) 0%,
    rgba(73, 63, 252, 1) 100%
  ); */
  background: #fbf3e4;
  height: 200px;
}

.navbar-logo {
  color: #105652;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.fa-bolt {
  margin-left: 0.5rem;
  font-size: 1.6rem;
  /* color: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  ); */
  /* background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90% */
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}
